.input_search_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    padding: 0.5rem 0 0.5rem 1rem;
    width: clamp(15rem, 20vw, 22rem);
  
    border-radius: 8px;
    background-color: var(--dark-25);
}

.input_search_container input {
  color: var(--dark-20);
  border: none;
  background: none;
  font-size: var(--md);
}

.input_search_container input:focus {
  outline: none;
}

.input_search_container img { 
  object-fit: cover;
}

.isMobile {
  display: none;
}

@media (max-width: 768px) {
  .isMobile {
    display: flex;
    width: 100%;
    background-color: var(--dark-30);
  }

  .isDesktop {
    display: none;
  }
}
