:root {
  /* --- COLORS ---  */
  --brand-color: #ED2590;
  --background: #D9E6F7;

  --dark-10: #4B4B4B;
  --dark-15: #868686;
  --dark-20: #B4AEAE;
  --dark-25: #EFF3F8;
  --dark-30: #FDFEFF;
  --dark-40: #FFFFFF;

  --message-support: #2962FF;
  --sucesss-support: #0BB07B;
  --warning-support: #FFCE52;
  --error-support: #F03D3D;
  --information-support: #E0E0E0;
  
  /* --- FONT SIZES --- */
  --sm: 0.875rem;   /* 14px */
  --md: 1rem;       /* 16px */
  --lg: 1.125rem;   /* 18px */
  --xl: 1.25rem;    /* 20px */
  --2xl: 1.5rem;    /* 24px */
  --3xl: 1.625rem;  /* 26px */
  --4xl: 2rem;      /* 32px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: sf-pro-display, sans-serif;
  src: url("assets/SFProDisplay-Regular.ttf");
}

body, html {
  font-family: sf-pro-display, sans-serif;
  background-color: var(--background);
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--brand-color);
}
fieldset {
  border: none;
}
